body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

#images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#images img {
  width: 40%;
  cursor: pointer;
}
